.auth-link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  margin-left: 15px;
}

.auth-link span {
  font-size: 0.8rem;
}

.btn-link {
  border-radius: 0.3rem;
  background: var(--accent-color);
  color: var(--contrast-color);
  cursor: pointer;
  font-weight: 600;
  text-decoration: none;
  padding: 8px;

}

.btn-link:hover {
  color: var(--contrast-color);
  background: color-mix(in srgb, var(--accent-color), transparent 40%);;
}

/* Hide desktop auth by default (mobile/tablet) */
.auth-desktop {
  display: none;
}

/* Mobile auth styling inside menu */
.mobile-auth {
  display: block;
}

/* Desktop view */
@media screen and (min-width: 992px) {
  .auth-desktop {
    display: flex;
    align-items: flex-start;
    margin: 0;
  }

  .mobile-auth {
    display: none;
  }
}

