.blog-hero {
  min-height: 60vh;
  background-size: cover;
  background-position: center;
}

@media (max-width: 768px) {
  .blog-hero {
    min-height: 45vh;
  }
  .NumIcon {
    font-size: 2rem;
  }
}
.custom-border-color {
    border-left: 3px solid var(--accent-color);
    border-radius: 10px;
    background-color: var(--contrast-color);
}